## Build combined data set from the years 2011 to 2018

We first compare the schema of the first two years.

In [2]:
# Import the necessary packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Load the data from 2011
data2011 = pd.read_csv('data/2011/2011 Stack Overflow Survey Results.csv', encoding = 'ISO-8859-1', delimiter=',')
data2011.head(3)

,What Country or Region do you live in?,Which US State or Territory do you live in?,How old are you?,How many years of IT/Programming experience do you have?,How would you best describe the industry you work in?,Which best describes the size of your company?,Which of the following best describes your occupation?,How likely is it that a recommendation you make will be acted upon?,What is your involvement in purchasing? You can choose more than 1.,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,"In the last 12 months, how much money have you spent on personal technology-related purchases?",Which of our sites do you frequent most?
0,Response,Response,Response,Response,Response,Response,Response,Response,Influencer,Recommender,...,AppleTV,iPad,Other netbook,PS3,Xbox,Wii,Other gaming system,other (please specify),Response,Response
1,Africa,NaN,< 20,<2,Consulting,Start Up (1-25),Web Application Developer,Not in a million years,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<$100,NaN
2,Other Europe,NaN,25-29,41310,Software Products,Mature Small Business (25-100),Server Programmer,It's been known to happen,NaN,NaN,...,NaN,NaN,Other netbook,NaN,NaN,NaN,NaN,NaN,$251-$500,Stack Overflow

In [5]:
# Load the data from 2012
data2012 = pd.read_csv('data/2012/2012 Stack Overflow Survey Results.csv', encoding = 'ISO-8859-1', delimiter=',')
data2012.head(3)

,What Country or Region do you live in?,Which US State or Territory do you live in?,How old are you?,How many years of IT/Programming experience do you have?,How would you best describe the industry you currently work in?,Which best describes the size of your company?,Which of the following best describes your occupation?,What is your involvement in purchasing products or services for the company you work for? (You can choose more than one),Unnamed: 8,Unnamed: 9,...,Please rate the advertising you've seen on Stack Overflow,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,What advertisers do you remember seeing on Stack Overflow?,What is your current Stack Overflow reputation?,Which of our sites do you frequent most?,Unnamed: 74
0,Response,Response,Response,Response,Response,Response,Response,Influencer,Recommender,Approver,...,The ads are relevant,The ads are entertaining,The ads are Informative,I click on ads that interest me,I've taken a trial/purchased a product from ads,What ads? I use an ad blocker,Open-Ended Response,Response,Response,Other Stack Exchange (please specify)
1,India,NaN,20-24,<2,Consulting,"Fortune 1000 (1,000+)",Server Programmer,Influencer,Recommender,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Germany,NaN,25-29,<2,Other,Mature Small Business (25-100),Embedded Application Developer,NaN,Recommender,NaN,...,Neutral,Agree,Agree,Strongly Disagree,Strongly Disagree,Disagree,NaN,Don't have an account,Stack Overflow,NaN

The schema differs between the first two years already and we need to clean this up.

### Building subsets with the relevant columns of the data

### 2011

In [130]:
data2011.head(2)

,What Country or Region do you live in?,Which US State or Territory do you live in?,How old are you?,How many years of IT/Programming experience do you have?,How would you best describe the industry you work in?,Which best describes the size of your company?,Which of the following best describes your occupation?,How likely is it that a recommendation you make will be acted upon?,What is your involvement in purchasing? You can choose more than 1.,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,"In the last 12 months, how much money have you spent on personal technology-related purchases?",Which of our sites do you frequent most?
0,Response,Response,Response,Response,Response,Response,Response,Response,Influencer,Recommender,...,AppleTV,iPad,Other netbook,PS3,Xbox,Wii,Other gaming system,other (please specify),Response,Response
1,Africa,NaN,< 20,<2,Consulting,Start Up (1-25),Web Application Developer,Not in a million years,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<$100,NaN

In [131]:
# Remove first row and add column for year
subset2011 = data2011.iloc[1:, [2, 44, 45, 37, 34, 31]]
subset2011['year'] = 2011

In [132]:
subset_columns = ['age', 'job_satisfaction', 'annual_compensation', 'csharp', 'python', 'javascript', 'year'] 
subset2011.columns = subset_columns

In [133]:
# We transform languages in boolean columns
subset2011['csharp'] = subset2011['csharp'].apply(lambda c: str(c) == 'C#')
subset2011['python'] = subset2011['python'].apply(lambda c: str(c) == 'Python')
subset2011['javascript'] = subset2011['javascript'].apply(lambda c: str(c) == 'JavaScript')

In [134]:
# Special treatment for f# - not that popular back then
subset2011['fsharp'] = data2011.iloc[1:, 42].apply(lambda col: 'f#' in str(col).lower())

In [135]:
# Number of f# developers then
len(subset2011[subset2011['fsharp'] == True])

15

In [136]:
# Reorder columns for sanity
subset2011 = subset2011.iloc[:, [6,0,1,2,3,4,5,7]]

In [137]:
# Visualize relevant subset
subset2011.head(10)

,year,age,job_satisfaction,annual_compensation,csharp,python,javascript,fsharp
1,2011,< 20,FML,Student / Unemployed,False,False,True,False
2,2011,25-29,So happy it hurts,NaN,False,False,False,False
3,2011,25-29,NaN,NaN,False,False,True,False
4,2011,< 20,I enjoy going to work,Student / Unemployed,False,False,False,False
5,2011,35-39,It pays the bills,"$80,000 - $100,000",False,False,True,False
6,2011,35-39,So happy it hurts,NaN,True,False,True,False
7,2011,20-24,It pays the bills,"$20,000 - $40,000",True,True,True,False
8,2011,20-24,I enjoy going to work,"$80,000 - $100,000",False,False,True,False
9,2011,35-39,I enjoy going to work,"$80,000 - $100,000",True,False,False,False
10,2011,NaN,NaN,NaN,False,False,False,False

In [140]:
# Check conversion
subset2011.sum()

year          5656943
csharp           1352
python            575
javascript       1419
fsharp             15
dtype: int64

### 2012

In [166]:
# Define subset from relevant columns
subset2012 = data2012.iloc[1:, [2, 38, 39, 30, 26, 23]]
subset2012['year'] = 2012
subset2012.columns = subset_columns
subset2012.head(3)

,age,job_satisfaction,annual_compensation,csharp,python,javascript,year
1,20-24,Love my job,"<$20,000",NaN,NaN,JavaScript,2012
2,25-29,I enjoy going to work,"$20,000 - $40,000",NaN,NaN,JavaScript,2012
3,20-24,I enjoy going to work,"$20,000 - $40,000",NaN,NaN,NaN,2012

In [167]:
def cleanup_languages(df):
    ''' Convert language columns to booleans'''
    df['csharp'] = df['csharp'].apply(lambda c: c == 'C#')
    df['python'] = df['python'].apply(lambda c: c == 'Python')
    df['javascript'] = df['javascript'].apply(lambda c: c == 'JavaScript')

In [168]:
# Cleanup python and c# column
cleanup_languages(subset2012)

In [169]:
# Convert f# to individual column
subset2012['fsharp'] = data2012.iloc[1:, 36].apply(lambda col: 'f#' in str(col).lower())

In [170]:
# Number of f# developers in 2012 (two more :))
len(subset2012[subset2012['fsharp'] == True])

18

In [171]:
# Reorder columns to complete subset structure
subset2012 = subset2012.loc[:, 
                            ['year', 'age', 'job_satisfaction', 'annual_compensation', 
                             'csharp', 'python', 'javascript','fsharp']]

In [172]:
subset2012.head(5)

,year,age,job_satisfaction,annual_compensation,csharp,python,javascript,fsharp
1,2012,20-24,Love my job,"<$20,000",False,False,True,False
2,2012,25-29,I enjoy going to work,"$20,000 - $40,000",False,False,True,False
3,2012,20-24,I enjoy going to work,"$20,000 - $40,000",False,False,False,False
4,2012,20-24,I'm not happy in my job,"$20,000 - $40,000",False,False,False,False
5,2012,< 20,I wish I had a job!,Student / Unemployed,False,False,False,False

In [173]:
def print_all():
    ''' Compares all subsets in memory and their structure '''
    existing_sets = list()
    for year in range(2011, 2019):
        key = 'subset{0}'.format(year)
        if key in globals().keys():
            subset = globals()[key]
            print('%s \t%s (year/observations)' % (subset.iloc[0,0], len(subset)))
            existing_sets.append(subset)
        else:
            print('%s\t not loaded' % year)
    schema = existing_sets[0].columns
    all_equal = True
    for s in existing_sets:
        if len(s.columns) != len(schema) or (s.columns != schema).any():
            all_equal = False
            break
    print('%s sets loaded, all columns equal: %s' % (len(existing_sets), all_equal))

In [174]:
print_all()

2011 	2813 (year/observations)
2012 	6243 (year/observations)
35-39 	9742 (year/observations)
2014	 not loaded
2015	 not loaded
2016	 not loaded
2017	 not loaded
2018	 not loaded
3 sets loaded, all columns equal: False

### 2013

In [175]:
# Load the data from 2013
data2013 = pd.read_csv('data/2013/2013 Stack Overflow Survey Responses.csv', 
                       encoding = 'ISO-8859-1', delimiter=',', low_memory=False)

In [176]:
# Simplify the process for finding the columns
keywords = ['compensation','language','satisfaction', 'ow old', 'age', 'c#', 'python', 'f#', 'javascript']
def find_columns(df):
    ''' Helper functions to find the relevant columns of a set'''
    for c in df.columns.values:
        for key in keywords:
            if str(c).lower().find(key) >= 0:
                print('%s %s' % (np.where(df.columns.values == c)[0], c))
                break

In [177]:
find_columns(data2013)

[2] How old are you?
[34] In an average week, how do you spend your time?
[56] Which of the following languages or technologies have you used significantly in the past year?
[99] What best describes your career / job satisfaction?
[100] Including bonus, what is your annual compensation in USD?

In [178]:
# Define subset with relevant columns
subset2013 = data2013.iloc[1:, [2, 99, 100, 58, 66, 60]]
subset2013['year'] = 2013
subset2013.columns = subset_columns
subset2013.head(3)

,age,job_satisfaction,annual_compensation,csharp,python,javascript,year
1,35-39,It's a paycheck,"$80,000 - $100,000",NaN,NaN,NaN,2013
2,25-29,It's a paycheck,"$20,000 - $40,000",C#,NaN,JavaScript,2013
3,51-60,I'm not happy in my job,"$120,000 - $140,000",C#,NaN,JavaScript,2013

In [179]:
# Cleaning the languages as before
cleanup_languages(subset2013)

In [182]:
# Convert f# to individual column
subset2013['fsharp'] = data2013.iloc[1:, 69].apply(lambda col: 'f#' in str(col).lower())

# Number of f# developers in 2013 - again 6 more)
len(subset2013[subset2013['fsharp'] == True])

24

In [183]:
def cleanup_order(df):
    ''' Function for re-ordering the columns to our schema '''
    return df.loc[:, ['year', 'age', 'job_satisfaction', 'annual_compensation', 'csharp', 'python', 'javascript', 'fsharp']]

In [186]:
# Cleaning the order and visualize result
subset2013 = cleanup_order(subset2013)
subset2013.head()

,year,age,job_satisfaction,annual_compensation,csharp,python,javascript,fsharp
1,2013,35-39,It's a paycheck,"$80,000 - $100,000",False,False,False,False
2,2013,25-29,It's a paycheck,"$20,000 - $40,000",True,False,True,False
3,2013,51-60,I'm not happy in my job,"$120,000 - $140,000",True,False,True,False
4,2013,NaN,NaN,NaN,False,False,False,False
5,2013,35-39,NaN,NaN,False,False,False,False

In [187]:
# Print our current working progress
print_all()

2011 	2813 (year/observations)
2012 	6243 (year/observations)
2013 	9742 (year/observations)
2014	 not loaded
2015	 not loaded
2016	 not loaded
2017	 not loaded
2018	 not loaded
3 sets loaded, all columns equal: True

### 2014

In [213]:
# Load the data of 2014
data2014 = pd.read_csv('data/2014/2014 Stack Overflow Survey Responses.csv', encoding = 'ISO-8859-1', delimiter=',')

In [214]:
find_columns(data2014)

[3] How old are you?
[7] Including bonus, what is your annual compensation in USD?
[20] In an average week, how do you spend your time at work?
[42] Which of the following languages or technologies have you used significantly in the past year?
[92] In receiving an email about a job opportunity, what attributes of the message would make you more likely to respond?

Inspection of the data set confirms initial suspicion: job satisfaction was not measured in 2014. The language columns however are still in the same format as the years before.

In [215]:
subset2014 = data2014.iloc[1:, [3, 7, 44, 50, 46]]
subset2014['job_satisfaction'] = np.nan
subset2014['year'] = 2014

In [216]:
subset2014.head(3)

,How old are you?,"Including bonus, what is your annual compensation in USD?",Unnamed: 44,Unnamed: 50,Unnamed: 46,job_satisfaction,year
1,30-34,"$20,000 - $40,000",NaN,Python,JavaScript,NaN,2014
2,20-24,Student / Unemployed,NaN,NaN,NaN,NaN,2014
3,25-29,"<$20,000",C#,NaN,JavaScript,NaN,2014

In [217]:
# Create relevant columns
subset2014 = subset2014.iloc[:, [0, 5, 1, 2, 3, 4, 6]]
subset2014.columns = ['age', 'job_satisfaction', 'annual_compensation', 'csharp', 'python', 'javascript', 'year']
subset2014.head(3)

,age,job_satisfaction,annual_compensation,csharp,python,javascript,year
1,30-34,NaN,"$20,000 - $40,000",NaN,Python,JavaScript,2014
2,20-24,NaN,Student / Unemployed,NaN,NaN,NaN,2014
3,25-29,NaN,"<$20,000",C#,NaN,JavaScript,2014

In [219]:
# Convert f# to individual column
subset2014['fsharp'] = data2014.iloc[1:, 53].apply(lambda col: 'f#' in str(col).lower())

# Number of f# developers in 2014 - 4 people lost track)
len(subset2014[subset2014['fsharp'] == True])

20

In [221]:
# Convert language columns to booleans
cleanup_languages(subset2014)

In [222]:
# Rearrange the order
subset2014 = cleanup_order(subset2014)
subset2014.head(3)

,year,age,job_satisfaction,annual_compensation,csharp,python,javascript,fsharp
1,2014,30-34,NaN,"$20,000 - $40,000",False,True,True,False
2,2014,20-24,NaN,Student / Unemployed,False,False,False,False
3,2014,25-29,NaN,"<$20,000",True,False,True,False

In [225]:
# Print current working progress
print_all()

2011 	2813 (year/observations)
2012 	6243 (year/observations)
2013 	9742 (year/observations)
2014 	7643 (year/observations)
2015	 not loaded
2016	 not loaded
2017	 not loaded
2018	 not loaded
4 sets loaded, all columns equal: True

The number of respondents did increase over the years but 2014 seems to be an exception.

### 2015

In [226]:
# Load the data for 2015
data2015 = pd.read_csv('data/2015/2015 Stack Overflow Developer Survey Responses.csv', encoding = 'ISO-8859-1', 
                       delimiter=',', header=1, low_memory=False)

In [227]:
data2015.head(2)

,Country,Age,Gender,Tabs or Spaces,Years IT / Programming Experience,Occupation,Desktop Operating System,Desktop Operating System: write-in,Current Lang & Tech: Android,Current Lang & Tech: Arduino,...,Why use Stack Overflow: I don't use Stack Overflow,How often are Stack Overflow's answers helpful,Why answer: Help a programmer in need,Why answer: Help future programmers,Why answer: Demonstrate expertise,Why answer: Self promotion,Why answer: Sense of responsibility to developers,Why answer: No idea,Why answer: I don't answer and I don't want to,Why answer: I don't answer but I want to
0,Croatia,25-29,Male,Tabs,2 - 5 years,Back-end web developer,Ubuntu,NaN,NaN,NaN,...,NaN,Usually,NaN,NaN,It feels good to demonstrate my expertise.,Demonstrating my expertise will benefit me,I feel a sense of responsibility to the develo...,NaN,NaN,NaN
1,France,20-24,Male,Spaces,1 - 2 years,Back-end web developer,Windows 7,NaN,NaN,NaN,...,NaN,Usually,NaN,My answer will help lots of people who have th...,It feels good to demonstrate my expertise.,NaN,NaN,NaN,NaN,NaN

In [229]:
# Find the relevant columns and their indices
find_columns(data2015)

[1] Age
[14] Current Lang & Tech: C#
[21] Current Lang & Tech: F#
[27] Current Lang & Tech: JavaScript
[35] Current Lang & Tech: Python
[57] Future Lang & Tech: C#
[64] Future Lang & Tech: F#
[70] Future Lang & Tech: JavaScript
[78] Future Lang & Tech: Python
[105] Compensation
[106] Compensation: midpoint
[109] Job Satisfaction
[121] Most important aspect of new job opportunity: Company stage
[149] Appealing message traits: Message is personalized
[150] Appealing message traits: Code or projects mentioned
[151] Appealing message traits: Stack Overflow activity mentioned
[152] Appealing message traits: Team described
[153] Appealing message traits: Company culture described
[154] Appealing message traits: Salary information
[155] Appealing message traits: Benefits & Perks
[156] Appealing message traits: Stack Overflow Company Page
[168] Who do you want to communicate with about a new job opportunity: Manager
[185] How many caffeinated beverages per day?

Finally F# has its gotten its own colum.

In [269]:
subset2015 = data2015.iloc[0:, [1, 109, 105, 14, 35, 70, 21]]
subset2015.columns = ['age', 'job_satisfaction', 'annual_compensation', 'csharp', 'python', 'javascript', 'fsharp']
subset2015['year'] = 2015
subset2015.head(3)

,age,job_satisfaction,annual_compensation,csharp,python,javascript,fsharp,year
0,25-29,I'm somewhat satisfied with my job,"$20,000 - $40,000",NaN,NaN,JavaScript,NaN,2015
1,20-24,I'm neither satisfied nor dissatisfied with my...,"$20,000 - $40,000",C#,NaN,NaN,NaN,2015
2,20-24,I'm somewhat satisfied with my job,"$80,000 - $100,000",C#,NaN,NaN,NaN,2015

In [270]:
# We redefine our cleanup function and include f#
columns = ['csharp','python','javascript','fsharp']
langs = ['c#', 'python','javascript','f#']
    
def cleanup_languages(df):
    ''' Convert language columns to booleans'''
    for lang, col in zip(langs, columns):
        df[col] = df[col].apply(lambda c: str(c).lower() == lang)

In [271]:
# Cleanup the languages and their orders
cleanup_languages(subset2015)
subset2015 = cleanup_order(subset2015)
subset2015.head()

,year,age,job_satisfaction,annual_compensation,csharp,python,javascript,fsharp
0,2015,25-29,I'm somewhat satisfied with my job,"$20,000 - $40,000",False,False,True,False
1,2015,20-24,I'm neither satisfied nor dissatisfied with my...,"$20,000 - $40,000",True,False,False,False
2,2015,20-24,I'm somewhat satisfied with my job,"$80,000 - $100,000",True,False,False,False
3,2015,25-29,I'm somewhat satisfied with my job,NaN,False,True,False,False
4,2015,30-34,I love my job,"$60,000 - $80,000",True,False,False,False

In [274]:
# How are the f# coders doing?
subset2015[subset2015['fsharp'] == True].count()

year                   174
age                    174
job_satisfaction       129
annual_compensation    151
csharp                 174
python                 174
javascript             174
fsharp                 174
dtype: int64

In [275]:
print_all()

2011 	2813 (year/observations)
2012 	6243 (year/observations)
2013 	9742 (year/observations)
2014 	7643 (year/observations)
2015 	26086 (year/observations)
2016	 not loaded
2017	 not loaded
2018	 not loaded
5 sets loaded, all columns equal: True

In 2015 the number of respondents exploded.

### 2016

In [276]:
# Load the data of 2016
data2016 = pd.read_csv('data/2016/2016 Stack Overflow Survey Responses.csv', encoding = 'ISO-8859-1', 
                       delimiter=',')

In [277]:
find_columns(data2016)

[5] age_range
[6] age_midpoint
[26] job_satisfaction

The langauge column in the data set did change again. All languages are in one column.

In [278]:
data2016.iloc[:, [5, 26, 13, 16]].head(3)

  age_range job_satisfaction       salary_range           tech_do
0     20-24              NaN                NaN               NaN
1     30-34    I love my job  $40,000 - $50,000  iOS; Objective-C
2       NaN              NaN                NaN               NaN

In [279]:
def languages_to_columns(df, column, delimiter=';'):
    ''' Converts the relevant languages into separate columns'''
    for language in langs:
        df[language] = df[column].map(lambda c: language in [l.strip() for l in str(c).lower().split(';')])

In [280]:
# Convert all our relevant languages into columns
languages_to_columns(data2016, 'tech_do')

In [282]:
find_columns(data2016)

[5] age_range
[6] age_midpoint
[26] job_satisfaction
[66] c#
[67] python
[68] javascript
[69] f#

In [288]:
# Check our conversion
data2016.iloc[405:410, [16, 66, 67, 68, 69]].head(4)

,tech_do,c#,python,javascript,f#
405,PHP,False,False,False,False
406,Java; JavaScript; PHP; Visual Basic,False,False,True,False
407,C++; C#; F#; JavaScript; MongoDB; Node.js; PHP...,True,False,True,True
408,CoffeeScript; JavaScript; Ruby,False,False,True,False

In [299]:
# Create the subset out of our data
subset2016 = data2016.iloc[0:, [5, 26, 13, 66, 67, 68, 69]]
subset2016['year'] = 2016

In [306]:
# Rename columns
subset2016.columns = ['age', 'job_satisfaction', 'annual_compensation', 'csharp',
       'python', 'javascript', 'fsharp', 'year']

In [307]:
# Align the order to the other years
subset2016 = cleanup_order(subset2016)

In [310]:
# Check consistency
print_all()

2011 	2813 (year/observations)
2012 	6243 (year/observations)
2013 	9742 (year/observations)
2014 	7643 (year/observations)
2015 	26086 (year/observations)
2016 	56030 (year/observations)
2017	 not loaded
2018	 not loaded
6 sets loaded, all columns equal: True

### 2017

In [311]:
# Load the data for 2017
data2017 = pd.read_csv('data/2017/survey_results_public.csv', encoding = 'ISO-8859-1', 
                       delimiter=',')

In [312]:
data2017.head(2)

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
1,2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0

In [314]:
# Print the relevant columns
find_columns(data2017)

[18] CareerSatisfaction
[19] JobSatisfaction
[55] AssessJobCompensation
[88] HaveWorkedLanguage
[89] WantWorkLanguage
[103] ProjectManagement
[112] EquipmentSatisfiedStorage
[127] StackOverflowSatisfaction
[132] StackOverflowCompanyPage

Salary is not a range anymore and the age was not recorded.

In [315]:
# Convert the languages to columns
languages_to_columns(data2017, 'HaveWorkedLanguage')

In [320]:
data2017.iloc[:, 152:].head(10)

     Salary  ExpectedSalary     c#  python  javascript     f#
0       NaN             NaN  False   False       False  False
1       NaN         37500.0  False    True        True  False
2  113750.0             NaN  False    True       False  False
3       NaN             NaN  False    True       False  False
4       NaN             NaN  False   False       False  False
5       NaN             NaN  False   False        True  False
6       NaN             NaN  False    True       False  False
7       NaN             NaN  False    True        True  False
8       NaN             NaN   True   False        True  False
9       NaN             NaN  False   False       False  False

In [323]:
subset2017 = data2017.iloc[0:, [18, 152, 154, 155, 156, 157]]
subset2017['year'] = 2017
subset2017['age'] = np.nan

In [324]:
subset2017.head(3)

   CareerSatisfaction    Salary     c#  python  javascript     f#  year  age
0                 NaN       NaN  False   False       False  False  2017  NaN
1                 NaN       NaN  False    True        True  False  2017  NaN
2                 8.0  113750.0  False    True       False  False  2017  NaN

In [325]:
# Rename columns to our schema
subset2017.columns = ['job_satisfaction', 'annual_compensation', 'csharp', 'python', 'javascript', 'fsharp', 'year', 'age']
subset2017.head(3)

,job_satisfaction,annual_compensation,csharp,python,javascript,fsharp,year,age
0,NaN,NaN,False,False,False,False,2017,NaN
1,NaN,NaN,False,True,True,False,2017,NaN
2,8.0,113750.0,False,True,False,False,2017,NaN

In [326]:
# Reorder columns
subset2017 = cleanup_order(subset2017)
subset2017.head(2)

,year,age,job_satisfaction,annual_compensation,csharp,python,javascript,fsharp
0,2017,NaN,NaN,NaN,False,False,False,False
1,2017,NaN,NaN,NaN,False,True,True,False

In [329]:
# Print all the sets in memory
print_all()

2011 	2813 (year/observations)
2012 	6243 (year/observations)
2013 	9742 (year/observations)
2014 	7643 (year/observations)
2015 	26086 (year/observations)
2016 	56030 (year/observations)
2017 	51392 (year/observations)
2018	 not loaded
7 sets loaded, all columns equal: True

After skyrocketing in 2016 the data for 2017 has decreased a little bit.

####  2018

In [364]:
data2018 = pd.read_csv('data/2018/survey_results_public.csv', encoding = 'ISO-8859-1', 
                       delimiter=',')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [365]:
find_columns(data2018)

[12] JobSatisfaction
[13] CareerSatisfaction
[65] LanguageWorkedWith
[66] LanguageDesireNextYear
[124] Age

In [366]:
languages_to_columns(data2018, 'LanguageWorkedWith')

In [367]:
data2018['year'] = 2018
data2018.iloc[:, [124, 12, 54, 129, 130, 131]].head()

,Age,JobSatisfaction,ConvertedSalary,C#,Python,year
0,25 - 34 years old,Extremely satisfied,NaN,False,True,2018
1,35 - 44 years old,Moderately dissatisfied,70841.0,False,True,2018
2,NaN,Moderately satisfied,NaN,False,False,2018
3,35 - 44 years old,Neither satisfied nor dissatisfied,NaN,True,False,2018
4,18 - 24 years old,Slightly satisfied,21426.0,False,False,2018

In [368]:
subset2018 = data2018.iloc[:, [124, 12, 54, 129, 130, 131]]
subset2018.columns = subset_columns

In [369]:
subset2018.head(3)

,age,job_satisfaction,annual_compensation,csharp,python,year
0,25 - 34 years old,Extremely satisfied,NaN,False,True,2018
1,35 - 44 years old,Moderately dissatisfied,70841.0,False,True,2018
2,NaN,Moderately satisfied,NaN,False,False,2018

In [370]:
subset2018['python_and_csharp'] = subset2018['csharp'] & subset2018['python']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [371]:
subset2018 = cleanup_order(subset2018)

In [372]:
print_all()

2011 	2813 (year/observations)
2012 	6243 (year/observations)
2013 	9742 (year/observations)
2014 	7643 (year/observations)
2015 	26086 (year/observations)
2016 	56030 (year/observations)
2017 	51392 (year/observations)
2018 	98855 (year/observations)
8 sets loaded, all columns equal: True

#### Create combined data frame

In [373]:
subset_all = pd.concat([subset2011, subset2012, subset2013, subset2014, subset2015, subset2016, subset2017, subset2018])

In [374]:
subset_all = subset_all.set_index('year')

In [375]:
subset_all.head()

,age,job_satisfaction,annual_compensation,csharp,python,python_and_csharp
year,,,,,,
2011,< 20,FML,Student / Unemployed,False,False,False
2011,25-29,So happy it hurts,NaN,False,False,False
2011,25-29,NaN,NaN,False,False,False
2011,< 20,I enjoy going to work,Student / Unemployed,False,False,False
2011,35-39,It pays the bills,"$80,000 - $100,000",False,False,False

In [376]:
subset_all.to_pickle('data/combined_years.pkl')